<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.10.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.ABTesting" version="4.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="6.9.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.10.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Installations" version="1.7.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="4.8.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.RemoteConfig" version="4.9.1" targetFramework="xamarinios10" />
</packages>