<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.10.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.ABTesting" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="6.4.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.6.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Installations" version="1.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="4.3.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.RemoteConfig" version="4.4.9" targetFramework="xamarinios10" />
</packages>